
@font-face{
    font-family: 'Rubik Bold';
    src: url(/Rubik/Rubik-Bold.ttf)
}

@font-face{
    font-family: 'Rubik Regular';
    src: url(/Rubik/Rubik-Regular.ttf)
}

@font-face{
    font-family: 'Rubik Light';
    src: url(/Rubik/Rubik-Light.ttf)
}

@font-face{
    font-family: 'Rubik Medium';
    src: url(/Rubik/Rubik-Medium.ttf)
}

@font-face{
    font-family: 'Rubik Black';
    src: url(/Rubik/Rubik-SemiBold.ttf)
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 57);
}

.page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 800px;
    background-color: #FAFAFA;
    overflow-x: hidden;
    margin-top: 6.1rem;
}

.purple-left{
    position: absolute;
    left: -3.6rem;
    top: 0;
    background: linear-gradient(30deg, hsl(264, 100%, 61%), hsl(280, 100%, 63%) 80%) ;
    height: 87.5%;
    width: 478px;
    border-bottom-left-radius: 210px;
    border-bottom-right-radius: 255px;
}

.lightPink-right{
    position: absolute;
    bottom: 0;
    right: -10.5rem;
    height: 84.7%;
    width: 490px;
    background: linear-gradient(0deg, #F9F4FA, #F7F5FA 99%);
    box-shadow: 0px 0px 5px 2px hsl(300, 9%, 96%) ;

    border-top-right-radius: 310px;
    border-top-left-radius: 330px;
}


.ui-and-description{
    position: relative;
    left: -25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* margin: auto; */
}

.ui-frame{
    position: relative;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1rem;
    height: 503px;
    width: 245px;
    background-color: white;
    border-radius: 30px;
    padding: 1px;
    box-shadow: 10px 18px 20px 8px rgba(187, 186, 186, 0.2);
}

@media only screen and (min-width: 375px) and (max-width: 600px){
    .page{
        width: 100%;
        min-height: 100vh;
        margin: 0;
    }

    .purple-left{
        width: 50%;
        height: 55%;
        left: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 455px;
    }

    .lightPink-right{
        width: 50%;
        height: 50%;
        right: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 730px;
    }

    .ui-and-description{
        left: 0;
        flex-direction: column;
    }

    .ui-frame{
        left: 0;
    }
}

.ui-inner-frame{
    position: relative;
    top: -1px;
    display: flex;
    justify-content: center;
    height: 486px;
    width: 229px;
    border-radius: 21px;
    background-color: hsl(270, 20%, 96%);

}

.ui-inner-frame-top{
    position: relative;
    top: 2.5px;
    width: 227px;
    height: 66px;
    background: linear-gradient(to right, #8838ff, 50%,  hsl(293, 100%, 63%));
    border-radius: 19.5px 19.5px 4.5px 4.5px;
    box-shadow: 0 3px 14px -1px #cccbcb;
}

.ui-inner-frame-top::after{
    background: white;
    width:129px;
    height: 29px;
    display: inline-block;
    content: '';
    border-radius: 94px 94px 94px 94px;
    /* transform: rotate(90deg); */
    position: absolute;
    top: -11px; 
    left: 49px;
}

.ui-inner-frame-top-content{
    position: relative;
    top: 1.85rem;
    left: 12px;
    gap: 5px;
    display: flex;
    align-items: center;
}

.chevron{
    height: .638rem;
}

.avatar{
    border-radius: 100%;
    height: 1.378rem;
    border: 1px solid white;
}

.ui-contact{
    position: absolute;
    top: -12px;
    left: 2.98rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: whitesmoke;
}

.ui-contact-name{
    font-family: 'Rubik Regular';
    margin-bottom: -7px;
    letter-spacing: .3px;
    font-size: 10.8px;
    color: #FCE6FF;
}
.ui-contact-availability{
    font-family: 'Rubik Light';
    opacity: .4;
    font-size: 8px;
    letter-spacing: .1px;
}

.dots{
    position: absolute;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    right: 1.7rem;
    top: -3px;
}

.dot{
    position: relative;
    color: white;
    border-radius: 100%;
    margin-bottom: -16.5px;
    opacity: .6;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.chats{
    position: absolute;
}

.left-chat{
    position: absolute;
    top: 4.5rem;
    left: -6.6rem;
}

.chat{
    position: relative;
    background-color: #EDE5F3;
    /* width: 128px; */
    min-height: 2.1rem;
    margin-bottom: 8px;
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 4px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.chat-paragraph{
    width: 115px;
    font-family: 'Rubik Light';
    font-size: 7.74px;
    color: hsl(276, 55%, 52%);
    letter-spacing: .227px;
    line-height: 11px;
    padding-left: 7.68px;
    padding-right: 4.9px;
    padding-top: 5.4px;
    padding-bottom: 5.9px;
    filter: blur(.3px);
    opacity: 0.9;
}

.right-chat{
    position: absolute;
}

.dog-pics{
    position: relative;
    right: 1.8rem;
    top: 10.7rem;
    display: flex;
    gap: .5rem;
}

.dog{
    height: 2.5rem;
    border-radius: 10px;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.right-chatP{
    box-sizing: border-box;
    position: absolute;
    top: 3rem;
    display: inline-flex;
    align-items: flex-end;
    flex-direction: column;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.rightPs{
    position: relative;
    min-width: 5rem;
    max-width: 130px;
    top: 10.7rem;
    right: 1.3rem;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 7.8px;
    box-shadow: 0 10px 6px -6px hsl(210, 4%, 90%);
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.rightP{
    color:  hsl(271, 15%, 43%);
    max-width: 25ch;
    font-size: 7.5px;
    line-height: 11px;
    letter-spacing: .341668px;
    position: relative;
    top: -1.5px;
    font-family: 'Rubik Light';
    margin-bottom: 4.8px;
    padding-left: 7.68px;
    padding-right: 5px;
    opacity: .78;
}

.last{
    position: relative;
    top: 8.6rem;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.lastP{
    max-width: 110px;
    padding-bottom: 6px;
    letter-spacing: .2229px;
}

.form-radio{
    position: absolute;
    top: 17.6rem;
    animation: none;
}

.price-container{
    display: flex;
    align-items: center;
    height: 2rem;
    width: 160px;
    background: linear-gradient(to left, #8838ff, 50%,  hsl(293, 100%, 63%));
    margin-bottom: 8px;
    border-radius: 10px 10px 10px 4px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.circle{
    height: 9.5px;
    width: 9.5px;
    border-radius: 100%;
    margin-left: 7.8px;
    border: .5px solid  hsl(289, 100%, 72%);
}

.label{
    font-size: 7.78px;
    color: #f4cbfa;
    font-family: 'Rubik Light';
    margin-left: 8px;
    letter-spacing: .222px;
    padding-left: .22px;
}

.price{
    font-family: 'Rubik Medium';
    color: #FCE6FF;
    font-size: 12px;
    position: absolute;
    right: 17px;
    letter-spacing: .3px;
}

.text-input{
    position: absolute;
    top: 5.5rem;
    width: 213px;
    height: 2.1rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.submit-button{
    background-color: #3e2753;
    border: none;
    height: 24.5px;
    width: 24.5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4.98px;
}

.chevron-right{
   height: 14px;
}

.type-text{
    position: relative;
    margin-left: 1rem;
    width: 150px;
    border: none;
    outline: none;
    font-family: 'Rubik Regular';
    font-size: 9px;
    color: hsl(206, 6%, 79%);
    text-align: left;
    margin-top: 4px;
}

.description{
    position: relative;
    left: 8.87rem;
}

h1{
    font-family: 'Rubik Regular';
    font-size: 39.26px;
    color: hsl(271, 36%, 24%);
    position: relative;
    top: -8.7px;
    letter-spacing: .31px;
    word-spacing: -2.1px;
    opacity: .95;
}

.description-paragraph{
    font-family: 'Rubik Light';
    width: 450px;
    line-height: 28px;
    font-size: 16px;
    color: hsl(270, 7%, 64%);
    margin-top: -12px;
    letter-spacing: .2px;
    opacity: .95;
}

@media only screen and (min-width: 375px) and (max-width: 600px){
    .description{
        left: 0;
        top: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    h1{
        top: 0;
    }

    .description-paragraph{
        width: 83%;
        margin-top: -1px;
    }

}
